doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title='jotoh'
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="style.css")

        script(src="script.js" defer)
        script(src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11/lib/typed.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js" integrity="sha512-SttpKhJqONuBVxbRcuH0wezjuX+BoFoli0yPsnrAADcHsQMW8rkR84ItFHGIkPvhnlRnE2FaifDOUw+EltbuHg==" crossorigin="anonymous" defer)
    body.text-dark
        header.font-jetbrains.text-bold.fixed-top.py-3
            nav
                ul.nav.justify-content-center
                    li.nav-item
                        a.nav-link.text-light(href="#home") Home
                    li.nav-item
                        a.nav-link.text-light(href="#work") Work
                    li.nav-item
                        a.nav-link.text-light(href="#skills") Skills
        #shadow
        main
            section#home.bg-dark.text-light
                .container-fluid.max-width
                    .row
                        figure.figure.col-12.col-md-6.col-lg-7.wow.animate__animated.animate__fadeIn.text-center
                            img.rounded-lg(src="mainThumb.jpg")
                        .col-12.col-md-6.col-lg-5.align-self-center
                            h1.mt-3.text-md-left.text-center Hi, I'm jotoh
                            p.text-secondary.text-md-left.text-center /ʤoto/,&nbsp;Acronym&nbsp;for Jonathan&nbsp;Tobias&nbsp;Hassel
                            p.mt-4 I am a Computer Scientist, Java and Web-Developer in Bonn, Germany. <br>
                                small (Although this picture was taken in London)
            section#program.text-light.bg-dark.text-center.font-weight-bold
                h3.font-weight-bold.my-0 I program in
                p#lang.text-left.mx-auto.d-inline-block.my-4.wow.animate__animated.animate__bounceIn
                    span Java
                    span PHP
                    span Kotlin
                    span Javascript
                p.text-center And&nbsp;
                    a(href="#skills") more
                    | .
            section#work.bg-dark.text-light
                .container
                    h2.mb-5 My work
                    .row.wow.animate__animated.animate__fadeIn
                        div(data-tilt data-tilt-max="10").col-12.col-md-6.mb-4
                            a(href="https://github.com/jotoh98/treasureHunt").d-block.p-4.text-light.text-center.rounded-lg.bg-lighter.h-100
                                img(src="assets/img/treasureHunt.png").d-block.mx-auto.mb-4.mt-2
                                h3.mb-3 treasureHunt
                                p.tags.font-jetbrains.overflow-auto
                                    span.rounded-pill.px-2.py-1.mx-1.bg-java Java
                                    span.rounded-pill.px-2.py-1.mx-1.bg-javafx JavaFX
                                    span.rounded-pill.px-2.py-1.mx-1.bg-gradle Gradle
                                p.
                                    Application for a project group to simulate a hide and seek situation for finding a point in the plane.
                        div(data-tilt data-tilt-max="10").col-12.col-md-6.mb-4
                            a(href="https://github.com/jotoh98/evoSearch").d-block.p-4.text-light.text-center.rounded-lg.bg-lighter.h-100
                                img(src="assets/img/evoSearch.png").d-block.mx-auto.mb-4.mt-2
                                h3.mb-3 evoSearch
                                p.tags.font-jetbrains.overflow-auto
                                    span.rounded-pill.px-2.py-1.mx-1.bg-java Java
                                    span.rounded-pill.px-2.py-1.mx-1.bg-swing Swing
                                    span.rounded-pill.px-2.py-1.mx-1.bg-jenetics jenetics
                                    span.rounded-pill.px-2.py-1.mx-1.bg-maven Maven
                                p.
                                    Implementation for my bachelors thesis about evolutionary algorithms and
                                    their ability to learn a strategy for the undirected search in the plane.
            section#skills.bg-light
                .container.py-5.px-0.px-lg-5
                    .row
                        .col-12.col-md-6.px-md-3.pl-md-5
                            figure.wow.animate__animated.animate__fadeIn
                                img(src="assets/img/fullstack-schema.svg")
                            .text.my-5
                                h3 PHP and Webdevelopment
                                p.text-secondary.
                                    PHP is my first object-oriented language.
                                    I started using it in 2012 and have enhanced my knowledge ever since.
                                p.text-secondary.
                                    With a solid foundation in semantic HTML 5 and CSS I am able to build modern and rigid web interfaces.
                                p.text-secondary.
                                    Furthermore, I have a lot of experience in wordpress through private and enterprise projects.
                            .text.my-5
                                h3 Tools
                                p.text-secondary.
                                    I have worked with free software for the most part.
                                    Through the student program I am most familiar with the jetbrains suite.
                                    And because of a ton of neat features github became my vcs of choice.
                        .col-12.col-md-6.px-md-3.pr-md-5
                            figure.bg-dark.rounded.p-2.overflow-hidden.wow.animate__animated.animate__fadeIn
                                code#java-code.text-light
                                    span
                            .text.my-5
                                h3 Java
                                p.text-secondary.
                                    I'm developing my own java projects since 2018.
                                    Through Swing and JavaFX I could develop mostly scientific UI-based application.
                            figure.wow.animate__animated.animate__fadeIn
                                img(src="assets/img/ci-cd.svg")
                            .text.my-5
                                h3 CI/CD & Agile
                                p.text-secondary.
                                    Continuous integration, delivery and deployment and agile development are the industry standard and I'm looking
                                    forward to improving my workflow and automate the process even further.
                                p.text-secondary.
                                    I have already worked in a small agile environment and I want to increase my repertoire of
                                    agile and pipelining methods.
            footer.bg-secondary.text-light.overflow-auto.p-5
                .container
                    .row.justify-content-center
                        .col-12.col-md-6.col-lg-4
                            h3 Build using
                            ul.font-jetbrains.list-unstyled
                                li
                                    a(href="http://pugjs.org") Pug
                                li
                                    a(href="http://sass-lang.com") SASS
                                li
                                    a(href="https://wowjs.uk") wow.js
                                li
                                    a(href="https://mattboldt.com/demos/typed-js") typed.js
                                li
                                    a(href="https://getbootstrap.com") Bootstrap
                                li
                                    a(href="https://www.jetbrains.com/lp/mono/") Jetbrains Mono
                                li
                                    a(href="https://micku7zu.github.io/vanilla-tilt.js") vanilla-tilt.js
                        .col-12.col-md-6.col-lg-4
                            h3 Legal
                            p This portfolio website was created using content created by myself.
                            p.
                                The libraries that I used were marked accordingly.
                                So I think legal should be cool, eh?
            .bg-dark.text-light.text-center.overflow-auto
                p.my-3 Checkout the&nbsp;
                    a(href="https://github.com/jotoh98/jotoh98.github.io") Repo

    script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g==" crossorigin="anonymous")